variables:
  buildConfiguration: 'Debug'
  netSdkVersion: '10.x'
  resultsDirectoryPath: 'test/Atata.WebDriverSetup.IntegrationTests/bin/$(buildConfiguration)/net10.0/results'

jobs:
- job: BuildAndRunCodeAnalysis
  displayName: Build and run code analysis
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build solution with code analysis
    inputs:
      command: build
      projects: '**/*.slnx'
      arguments: -c $(buildConfiguration) -warnaserror

- job: RunTestsOnWindows
  displayName: Run tests on Windows
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build test projects
    inputs:
      command: build
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run tests
    timeoutInMinutes: 5
    inputs:
      command: test
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build -f net10.0
  - task: PublishPipelineArtifact@1
    displayName: Publish test results
    condition: succeededOrFailed()
    inputs:
      artifactName: Windows test results
      targetPath: $(resultsDirectoryPath)

- job: RunTestsOnWindows-NetFramework
  displayName: Run tests on Windows / .NET Framework
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build test projects
    inputs:
      command: build
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run tests
    timeoutInMinutes: 5
    inputs:
      command: test
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build -f net462
  - task: PublishPipelineArtifact@1
    displayName: Publish test results
    condition: succeededOrFailed()
    inputs:
      artifactName: Windows .NET Framework test results
      targetPath: 'test/Atata.WebDriverSetup.IntegrationTests/bin/$(buildConfiguration)/net462/results'

- job: RunTestsOnUbuntu
  displayName: Run tests on Ubuntu
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build test projects
    inputs:
      command: build
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run tests
    timeoutInMinutes: 5
    inputs:
      command: test
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build -f net10.0
  - task: PublishPipelineArtifact@1
    displayName: Publish test results
    condition: succeededOrFailed()
    inputs:
      artifactName: Ubuntu test results
      targetPath: $(resultsDirectoryPath)

- job: RunTestsOnMacOS
  displayName: Run tests on macOS
  pool:
    vmImage: macOS-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build test projects
    inputs:
      command: build
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run tests
    timeoutInMinutes: 5
    inputs:
      command: test
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build -f net10.0
  - task: PublishPipelineArtifact@1
    displayName: Publish test results
    condition: succeededOrFailed()
    inputs:
      artifactName: macOS test results
      targetPath: $(resultsDirectoryPath)
