variables:
  buildConfiguration: 'Debug'
  netSdkVersion: '10.x'

jobs:
- job: BuildAndRunCodeAnalysis
  displayName: Build and run code analysis
  pool:
    vmImage: windows-latest
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build solution with code analysis
    inputs:
      command: build
      projects: '**/*.slnx'
      arguments: -c $(buildConfiguration) -warnaserror

- job: RunTests
  displayName: Run tests on
  strategy:
    matrix:
      Ubuntu:
        code: ubuntu-net
        imageName: 'ubuntu-latest'
        testTargetFramework: net10.0
      macOS:
        code: mac-net
        imageName: 'macOS-latest'
        testTargetFramework: net10.0
      Windows:
        code: win-net
        imageName: 'windows-latest'
        testTargetFramework: net10.0
      'Windows / .NET Framework':
        code: win-netfx
        imageName: 'windows-latest'
        testTargetFramework: net462
  pool:
    vmImage: $(imageName)
  steps:
  - task: UseDotNet@2
    displayName: Set up .NET SDK
    inputs:
      version: $(netSdkVersion)
  - task: DotNetCoreCLI@2
    displayName: Build test projects
    inputs:
      command: build
      projects: '**/*Tests.csproj'
      arguments: -c $(buildConfiguration) -p:RunAnalyzers=false
  - task: DotNetCoreCLI@2
    displayName: Run integration tests
    timeoutInMinutes: 5
    inputs:
      command: test
      projects: 'test/*/*IntegrationTests.csproj'
      arguments: -c $(buildConfiguration) -s "azure-pipelines.runsettings" --no-build -f $(testTargetFramework)
  - task: PublishPipelineArtifact@1
    displayName: Publish integration test results
    condition: succeededOrFailed()
    inputs:
      artifactName: $(code)_integration_test_results
      targetPath: 'test/Atata.WebDriverSetup.IntegrationTests/bin/$(buildConfiguration)/$(testTargetFramework)/results'
